body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #111;
      color: white;
    }

    header {
      background: black;
      padding: 20px;
      text-align: center;
      border-bottom: 3px solid red;
    }

    header h1 {
      color: red;
      margin: 0;
    }

    .hero {
      background: url("../assets/home.jpg") center/cover;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .hero h2 {
      background: rgba(0,0,0,0.7);
      padding: 20px;
      border-radius: 10px;
      font-size: 30px;
    }

    .section {
      padding: 40px;
      text-align: center;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      gap: 15px;
    }

    .gallery img {
      width: 100%;
      border-radius: 10px;
    }

    .btn {
      display: inline-block;
      padding: 12px 20px;
      background: red;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 15px;
    }

    footer {
      background: black;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
      border-top: 2px solid red;
    }
